.detalle-producto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(13, 27, 42);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}




.card{
 
    color: black;
    font-family: "Montserrat", sans-serif;

}

span{
    font-family: "Montserrat", sans-serif;
}

.imagen__logo{
    width: 100px;

}

.button-menu{
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    
}

.button-menu:hover{
    text-decoration: underline;
}

.nav-categoria{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;


}

.precio__producto{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

table{

    
    font-family: "Montserrat", sans-serif;
}


.card-body{
    font-size: 14px;
    padding: 10px;
}

.imagen__detalle{

    width:400px;
    border-radius: 12px;
}

.container__botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
 
}



.image-container{

    display: flex;
    justify-content: center;
    align-items: center;
}


.button-detalle{
    width: 200px;
    height: 50px;
    background-color: rgb(214, 204, 194);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 16px;
    border: none;
}


.button-detalle:hover{
    background-color: rgb(245, 235, 224)
}

.nav-categoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
